{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>{% block Titel %} Apis-WebApp {% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block metaDescription %}
      <meta name="description" content="A Web-App">
      <meta name="author" content="Peter Andorfer">
      {% endblock %}

      <!-- Bootstrap-->
      <link rel="stylesheet" href="{% static 'webpage/libraries/bootstrap337/css/bootstrap.min.css' %}"/>
      <!-- Bootstrap Themes. see https://bootswatch.com/
        <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
      -->
      <!--scroll to top CSS -->
      <link rel="stylesheet" href="{% static 'webpage/apis.css' %}" />
      <link rel="stylesheet" href="{% static 'webpage/libraries/scroll-to-top/css/ap-scroll-top.min.css'%}" />
      <!--leflet CSS -->
      <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}" />
      <!-- jQuery-->
      <script type="text/javascript" src="{% static 'webpage/libraries/jquery/jquery-3.1.1.min.js' %}"></script>
      <!-- Bootstrap -->
      <script type="text/javascript" src="{% static 'webpage/libraries/bootstrap337/js/bootstrap.min.js' %}"></script>
      <!-- angular.js
      <script type="text/javascript" src="{% static 'webpage/libraries/angularjs/angular.min.js' %}"></script>
      -->
      <script type="text/javascript" src="{% static 'webpage/libraries/bootstrapmultiselect/js/bootstrap-multiselect.js' %}"></script>
      <link rel="stylesheet" href="{% static 'webpage/libraries/bootstrapmultiselect/css/bootstrap-multiselect.css' %}" type="text/css"/>
      <!--scroll to top -->
      <script src="{% static 'webpage/libraries/scroll-to-top/js/ap-scroll-top.min.js'%}"></script>
      <!--leaflet js -->
      <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
      <link rel="stylesheet" href="{% static 'webpage/libraries/bower_components/leaflet.markercluster/dist/MarkerCluster.css'%}" />
      <link rel="stylesheet" href="{% static 'webpage/libraries/bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css'%}" />
      <!--
      <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />-->
      <script src="{% static 'webpage/libraries/bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js'%}"></script>
      <script type="text/javascript" src="{% static 'webpage/libraries/tooltipster/dist/js/tooltipster.bundle.min.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/tooltipster/dist/css/tooltipster.bundle.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css' %}" />
      <script type="text/javascript" src="{% static 'webpage/apis_highlighter.js' %}"></script>
      {% block scriptHeader %}
      {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation!</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'webpage:start' %}">Start</a>
                    </li>
                    <li>
                        <a href="{% url 'docs' index %}index.html">Documentation</a>
                    </li>
                  </ul>
                </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entities
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'entities:person_list' %}">Persons</a>
                    </li>
                    <li>
                        <a href="{% url 'entities:place_list' %}">Places</a>
                    </li>
                    <li>
                        <a href="{% url 'entities:institution_list' %}">Institutions</a>
                    </li>
                      <li>
                        <a href="{% url 'entities:event_list' %}">Events</a>
                    </li>
                    <li>
                        <a href="{% url 'entities:work_list' %}">Works</a>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualizations
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'entities:birth_death_map' %}">Person Place map</a>
                    </li>
                    <li>
                        <a href="{% url 'entities:generic_network_viz' %}">Network</a>
                    </li>
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'webpage:user_login' %}">Log-In</a>
                    </li>
                    <li>
                        <a href="{% url 'webpage:user_logout' %}">Log-Out</a>
                    </li>
                      <li>
                        <a href="{% url 'registration_register' %}">Registration</a>
                    </li>
                  </ul>
              </li>
            </ul>
        </div>
    </nav>

    <div id="content" class="container">
    <div class="alert alert-warning">
    <strong>Warning!</strong> Work in Progress. But entered data will be preserved.
    </div>
      {% block content %}
      {% endblock %}
    </div>

    <div class="container text-center">
      <div class="row text-center" style="padding-top: 50px">
      <div class="col-sm-6">
        <div style="float: left">
          <a href="https://acdh.oeaw.ac.at/acdh/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/logo.png' %}" alt="ACDH" style="height:65px" />
          </a>
        </div>
        <div>
          <a href="http://www.oeaw.ac.at/inz/institut-fuer-neuzeit-und-zeitgeschichtsforschung/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/INZ-Logo.png' %}" alt="INZ" style="height:65px" />
          </a>
        </div>
        </div>
        <div class="col-sm-6">
        <div style="float: left">
          <a href="http://www.oeaw.ac.at/isr/" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/ISR_logo.png' %}" alt="ISR" style="height:65px" />
          </a>
        </div>
        <div>
          <a href="http://www.oeaw.ac.at/acdh/en/apis" class="navlink" target="_blank">
              <img src="{% static 'webpage/img/apis.png' %}" alt="APIS-Project" style="height:65px" />
          </a>
          </div>
        </div>
      </div>
    </div>
    {% block scripts %}

    <!-- scroll-up-bottom -->
    <script type="text/javascript">
            // Setup plugin with default settings
            $(document).ready(function() {
                $.apScrollTop({
                    'onInit': function(evt) {
                        console.log('apScrollTop: init');
                    }
                });
            });
    </script>
    <script type="text/javascript">
      function unbind_ajax_forms(){
      $(".form.ajax_form").submit(function(event) {
            event.preventDefault();
            event.stopPropagation();
            var formData = $(this).serialize();
            //var button_text = $(this).find(':button').text();
          $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          //data:formData,
            })
          .done(function(response) {
              window[response.call_function](response)}
      )})}
</script>
        <script type="text/javascript">
    //script that converts the multi select element of the annotation project menu
    $(document).ready(function() {
        $('select.selectmultiple').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true
        });
        initiate_compare_tooltip();
    })
    </script>
        <script type="application/javascript">
        function initiate_compare_tooltip() {
          //TODO: correctly detach the tooltips before reinitializing them
        $('.compare_tooltip').tooltipster({
    content: 'Loading...',
            contentAsHTML: true,
    interactive: true,
    theme: 'tooltipster-light',
            updateAnimation: null,
    functionBefore: function(instance, helper) {
        var $origin = $(helper.origin);
        dataOptions = $origin.attr('data-tooltip');
        if(dataOptions) {

            dataOptions = JSON.parse(dataOptions);
            console.log(dataOptions);
        } else {
            console.log('didnt read out')
        }
        if (typeof $.ApisRev == 'undefined') {
            $.ApisRev = {}; }
        $.ApisRev.url = '/compare/'+dataOptions['app']+'/'+dataOptions['kind']+'/'+dataOptions['pk']
        if ($origin.data('loaded') !== true) {
            $.get($.ApisRev.url, function(data) {
                instance.content(data);
                unbind_compare_forms();
                $origin.data('loaded', true);
            });
        }
    },
    functionReady: function (instance, helper) {
        $.ApisRev.instance = instance;
        unbind_compare_forms();
    }
});};
        </script>
        <script type="text/javascript">
      function unbind_compare_forms(){
      $("#change-history").parents('form').submit(function(event) {
            event.preventDefault();
            event.stopPropagation();
            var formData = $(this).serialize();
          if ($.ApisRev.url == 'undefined'){
              var url = '/'
          } else {
              var url = $.ApisRev.url
          };
          $.ajax({
          type: 'GET',
          url: url,
          data: formData,
          //data:formData,
            })
          .done(function(response) {
              $.ApisRev.instance.content(response);
              unbind_compare_forms();
          }
      )})}
</script>
    {% endblock %}
  </body>
</html>
