{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container text-center">
       <h1>APIS PAAS</h1>
       <h2>Prosopography of the Members of the Austrian Academy of Sciences 1847–2022</h2>
       <h3>Abstract</h3>
       <div style="text-align: justify;">
        <p>APIS PAAS is a web application to collect, analyze and evaluate prosopographical and biographical data of the approximately 3000 members of the Austrian Academy of Sciences 1847–2022. This prosopography is developed by the <a href="http://www.oeaw.ac.at/acdh/de/apis">APIS-Project</a> of the ACDH (Austrian Prosopographical | Biographical Information System | Austrian Centre for Digitial Humanities | AAS) in cooperation with the Working Group History of the Austrian Academy of Sciences (HAAS).
        The open app will enable users to retrieve the life and career paths of about 3000 Academy members since 1847. Combined evaluation methods make possible an analysis of specific network structures and constellations in the field of science and scholarship of Central Europe. The data concerning persons, places, institutions, events and publications are gathered in a structured way and linked with the <a href="http://www.dnb.de/DE/Standardisierung/GND/gnd_node.html">GND</a> (Gemeinsame Normdatei, “common authority file”) of the German National Library, the German-speaking library associations, the <a href="http://zdb-opac.de/">ZDB</a> (Zeitschriftenbank, “periodicals database”) and the <a href="http://www.geonames.org/">GeoNames</a> geographical database.</p>
        <p>APIS PAAS is an essential part of the new history of the Austrian Academy of Sciences 1847–2022 that is being compiled by the Working Group History of the Austrian Academy of Sciences (HAAS) at the Austrian Academy of Sciences.
        </p>
        <h3>Contact</h3>
        <li><a href="http://www.oeaw.ac.at/ikt/en/staff/johannes-feichtinger/">Johannes Feichtinger</a> | <a href="http://www.oeaw.ac.at/ikt/">IKT OeAW</a></li>
        <li><a href="http://www.oeaw.ac.at/ikt/en/staff/heidemarie-uhl/">Heidemarie Uhl</a>  | <a href="http://www.oeaw.ac.at/ikt/">IKT OeAW</a></li>
        <li><a href="http://www.oeaw.ac.at/acdh/en/andorfer">Peter Andorfer</a> | <a href="http://www.oeaw.ac.at/acdh/">ACDH OeAW</a></li>
        </div>
</div>
{% endblock %}