# Byte-compiled
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints

# documentation build files

/docs/_*/*
data
/tei/*.xml
tei.egg-info
build
/Untitled.ipynb
/numpy-1.12.1+mkl-cp35-cp35m-win_amd64.whl
/scipy-0.19.0-cp35-cp35m-win_amd64.whl
/teihencer-settings/server.py
/teihencer-settings/mysql.py
teihencer-data
